@CHARSET "UTF-8";

.ui-icon-locale-pt
	,.ui-icon-locale-en{
	width: 32px;
	height: 31px;
	background-position: center;
	display: block;
	float: left;
	background-repeat: no-repeat;
}

.ui-icon-locale-pt{
	background-image: url("../images/locale_pt.png");
}

.ui-icon-locale-en{
	background-image: url("../images/locale_en.png");
}

.rodape {
	position:absolute;
	bottom:0;
	width:100%;
	align:center;
}

.semBorda tr, .semBorda td {  
    border: none !important;  
}

.ui-datatable td,.ui-datatable th {  
    white-space: normal !important;
}